.container-fluid { padding: 20px; }
.product-card { cursor: pointer; max-width: 720px; margin: 0 auto; }
#overlay {
    position: fixed; inset: 0;
    background: #fff;
    display: flex; flex-direction: column;
    opacity: 0; pointer-events: none;
    z-index: 9999; transition: opacity .25s ease;
}
#overlay.active {
    opacity: 1; pointer-events: auto;
}
#overlay .close-btn {
    position: absolute;
    top: 10px; right: 15px;
    font-size: 28px;
    cursor: pointer;
    color: #333;
    font-weight: bold;
}
.image-gallery {
    display: flex;
    overflow-x: auto;
    background: var(--light-bg);
    padding: 18px;
    scroll-snap-type: x mandatory;
    gap: 12px;
    align-items: center;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}
.image-gallery img {
    height: 260px;
    border-radius: 12px;
    scroll-snap-align: center;
    object-fit: contain;
    box-shadow: 0 6px 18px rgba(0,0,0,.06);
    flex: 0 0 auto;
}
.overlay-content {
    flex: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 18px 18px 120px;
    transform: translateY(0);
    transition: transform .18s ease;
}
.cart-bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f8bc6e;
    border-top: 2px solid #df4848;
    padding: 12px 16px; display: flex;
    gap: 12px;
    align-items: center;
    z-index: 2500;
}
.cart-btn{
    background: rgba(231, 133, 3, 0.9);
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    font-weight: 700;
    box-shadow: 0 6px 18px rgba(225,153,0,.12);
    flex: 0 0 auto;
    float: right;
}
/* .dragging { transition: none !important; will-change: transform; }
.safe-top {height: env(safe-area-inset-top, 10px); }
.image-gallery::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 10px;
} */
.badge {
    background-color: rgb(214, 140, 2, 0.2);
}
#overlay.active #loader:not(.hidden) {
    opacity: 1;
    pointer-events: auto;
}